#root {
	margin: 0rem;
	padding: 0rem;
	text-align: center;
}
.logo {
	height: 4rem;
	padding: 0.5rem;
}
.card {
	padding: 2rem;
}  
.body {
	margin: 3rem 2rem;
}
.ic {
	width: 0.75rem;
}
.card-footer {
	justify-content: space-between;
}
